:root {
  --light-pink-texts: hsl(321, 100%, 78%);
  --pink-texts: hsl(329, 100%, 66%);
  --light-red-texts: hsl(0, 100%, 63%);
  --dark-cyan-texts: hsl(192, 100%, 9%);
  --pale-blue-texts: hsl(207, 100%, 98%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  position: relative;
  padding: 1rem 1rem;
}
.msg-icon {
  width: 40px;
  height: auto;
}
.header h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 27px;
  position: absolute;
  padding: 1rem 1rem;
  top: -5px;
  left: 40px;
}

.btn {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-right: 1rem;
}
.btn-1 {
  font-size: 1.3rem;
  padding: 10px 25px;
  border-radius: 10rem;
  color: var(--pink-texts);
  border: 3px solid var(--pink-texts);
  background-color: white;
  position: absolute;
  bottom: 1vh;
}
h1 {
  font-family: "Open Sans";
  text-align: center;
  color: var(--dark-cyan-texts);
}

.main-text {
  max-width: 60ch;
  text-align: center;
  margin: 0 auto;
  color: var(--dark-cyan-texts);
  font-family: "Open Sans";
  margin-bottom: 2em;
}
.btn-2 {
  font-size: 1.2rem;
  font-family: "Open Sans";
  font-weight: 600;
  padding: 1.3em 5em;
  border-radius: 10rem;
  background: var(--pink-texts);
  border: 3px solid var(--pink-texts);
  color: var(--pale-blue-texts);
  opacity: 0.5;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.button-container {
  text-align: center;
}
.img-container {
  text-align: center;
}
.box {
  width: 50vw;
  min-height: 10vh;
  margin-top: 5em;
  object-fit: cover;
  overflow: hidden;
}
.people-section {
  background-color: rgb(23, 4, 4);
  width: 90%;
}
.human-icons {
  display: flex;
  position: relative;
}
.humans {
  position: absolute;
  left: 27%;
  margin-top: 4em;
  width: 30px;
  min-height: auto;
  margin-top: 2.9rem;
}
.people-text {
  display: flex;
  position: relative;
}
.comm-number {
  color: var(--dark-cyan-texts);
  font-weight: 700;
  font-size: 3.6em;
  font-family: "Open Sans";
  position: absolute;
  left: 32%;
  transform: translate(-50%);
  top: 1.3em;
}
.comm-text {
  font-family: "Open Sans";
  color: var(--dark-cyan-texts);
  position: absolute;
  left: 32%;
  transform: translate(-50%);
  top: 10.5em;
}
.message-parent {
  display: flex;
  position: relative;
}
.msg-icon1 {
  width: 27px;
  height: auto;
  position: absolute;
  right: 40%;
  top: 4rem;
  margin-top: -0.9rem;
}
.msg-parent {
  display: flex;
  position: relative;
}
.msg-number {
  font-weight: 700;
  font-family: "Open Sans";
  color: var(--dark-cyan-texts);
  font-size: 3.6em;
  position: absolute;
  left: 64%;
  transform: translate(-50%);
  top: 1.3em;
}
.msg-text {
  font-family: "Open Sans";
  color: var(--dark-cyan-texts);
  position: absolute;
  left: 63%;
  transform: translate(-50%);
  top: 10.5em;
}
.column {
  margin: 14rem auto;
}
.pattern-top-desktop,
.pattern-bottom-desktop {
  display: block;
  width: 100%;
}
.pattern-bottom-desktop,
.blue-bottom-desktop-2 {
  display: block;
  width: 100%;
}
.adjusted-top {
  position: relative;
  top: -200px;
}
.pattern-top-mobile,
.pattern-bottom-mobile,
.blue-bottom-mobile-2,
.blue-top-mobile-2 {
  display: none;
}
.column__text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  align-items: center;
  padding: 5rem;
}
.first,
.third {
  background: hsl(207, 100%, 98%);
}
.column__text img {
  max-width: 100%;
  max-height: 100%;
}
/* .conversation {
  max
} */
.first-img,
.third-img {
  order: 2;
}
.column__text h2 {
  font-size: 2.5rem;
  font-family: "Open Sans";
}
.first section,
.third section {
  order: 1;
}
section p {
  font-family: "Open Sans";
  color: var(--dark-cyan-texts);
}
.build {
  text-align: center;
}
.build h3 {
  font-family: "Open Sans";
  color: var(--dark-cyan-texts);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.btn-3 {
  font-size: 1.2rem;
  font-family: "Open Sans";
  font-weight: 600;
  padding: 1.3em 5em;
  border-radius: 10rem;
  background-color: var(--pink-texts);
  border: 3px solid var(--pink-texts);
  color: var(--pale-blue-texts);
  opacity: 0.5;
  margin-top: 1rem;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
footer {
  margin-top: 10rem;
}
.navy-blue-footer-top {
  display: block;
  width: 100%;
}
.huddle-logo {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(125deg)
    brightness(103%) contrast(103%);
  margin-top: 3rem;
}
.first-grid p, .phone-logo, img {
  color: hsl(0, 0%, 100%)
}
.first-grid p {
  max-width: 36ch;
  margin-top: 2rem;
}
/* .contact-section {
  display: flex;
  justify-content: space-between; 
  margin: 1rem auto;
} */
.phone-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.3rem auto;
  /* margin-bottom: 3rem; */
}
.email-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem auto;
}
.phone-logo {
  margin-top: 2rem;
}
.email-logo {
  color: hsl(0, 0%, 100%)
}
.footer-first {
  background-color: var(--dark-cyan-texts);
  padding: 5rem;
  display: flex;
  justify-content: space-between;
}
h3, p {
  color:hsl(0, 0%, 100%)
}
h3 {
  margin-top: 3.3rem;
}
.second-grid p {
  max-width: 41ch;
  margin-top: 1.7rem;
}
.infield input {
  font-size: 0.9rem;
  font-family: "Open Sans";
  width: 100%;
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  border: 0.5px solid var(--pink-texts);
  margin-top: 1.7rem;
  padding: 1.3rem 9rem;
  padding-left: 1rem;
}
.infield #error {
  color: hsl(0, 100%, 63%);
  font-size: 0.8rem;
  margin: 0.5rem 0;
  display: none;
}

.btn-5:hover {
  background: hsl(321, 100%, 78%);
}
.btn-5 {
  font-size: 1.3rem;
  font-family: "Open Sans";
  padding: 0.7rem 3rem;
  border-radius: 0.5rem;
  background-color: var(--light-pink-texts);
  font-weight: 700;
  cursor: pointer;
  margin-bottom: -1.9rem;
}
.media-icons i {
  color: hsl(0, 0%, 100%);
  margin-right: 3rem;
  margin-top: 2.0rem;
  height: auto;
  font-size: 2.0rem;
}
.media-icons i:hover {
  color: rgb(52, 204, 250);
}
.inputs {
display: flex;
align-items: center;
gap: 1rem;
}
/* .footer-first {
  display: grid;
  grid-template-columns: auto auto auto;
} */
/* DRY for comm-number and comm-text */
/* Use media query for comm-number and msg-text*/
